@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/outfit-v11-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/outfit-v11-latin-700.woff2') format('woff2');
}

:root {
  --slate-300: #d5e1ef;
  --slate-500: #68778d;
  --slate-900: #1f314f;
  --white: #fff;

  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-500: 2.5rem;
}

.container {
  position: fixed;
  inset: 0;
  background-color: var(--slate-300);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--white);
  text-align: center;
  padding: var(--space-200) var(--space-200) var(--space-500);
  width: 18rem;
  border-radius: 1.25rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
}

.card__qr-image {
  width: 100%;
  height: auto;
  border-radius: .625rem;
  margin-bottom: var(--space-300);
}

.card__text {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: var(--slate-500);
  font-size: 15px;
  line-height: 1.4;
  letter-spacing: .2px;
  padding: 0 var(--space-200);
  margin: 0 0 var(--space-300);
}

.card__text:last-child {
  margin: 0;
}

.card__text.card__text--lead {
  font-weight: 700;
  color: var(--slate-900);
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: 0;
  margin: 0 0 var(--space-200);
}
