@font-face {
  font-display: swap;
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/fraunces-v35-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/montserrat-v29-latin-500.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/montserrat-v29-latin-700.woff2') format('woff2');
}


:root {
  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2eae2;
  --white: #fff;
  --green-500: #3d8168;
  --green-700: #1a4032;

  --space-50: .25rem;
  --space-100: .5rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
}

.text-preset-1 {
  color: var(--black);
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1;
  margin: 0;
}

.text-preset-2 {
  color: var(--black);
  font-family: "Montserrat", arial, sans-serif;
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.1;
  margin: 0;
}

.text-preset-3 {
  color: var(--grey);
  font-family: "Montserrat", arial, sans-serif;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.6;
  margin: 0;
}

.text-preset-4 {
  color: var(--grey);
  font-family: "Montserrat", arial, sans-serif;
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.2;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0;
}

.text-preset-5 {
  color: var(--grey);
  font-family: "Montserrat", arial, sans-serif;
  font-weight: 500;
  font-size: .8125rem;
  line-height: 1.2;
  text-decoration: line-through;
  margin: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--stone-100);
  margin: 0;
}

.container {
  position: fixed;
  inset: 0;
  background: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-100);
}

.card {
  background-color: var(--white);
  width: 350px;
  display: flex;
  flex-direction: column;
}
@media(min-width: 36rem) {
  .card {
    flex-direction: row;
    width: 600px;
  }
}

.product-img {
  width: 100%;
  height: 342px;
  background: url("./assets/images/image-product-mobile.jpg") center center/cover;
}
@media(min-width: 36rem) {
  .product-img {
    width: 300px;
    height: auto;
    background: url("./assets/images/image-product-desktop.jpg") center center/cover;
    flex-shrink: 0;
  }
}

.card-body {
  padding: var(--space-400);
}

.card-price-section {
  display: flex;
  align-items: center;
  gap: var(--space-200);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-100);
  width: 100%;
  height: 50px;
  background-color: var(--green-500);
  color: var(--white);
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}
.btn > img {
  height: 1.25em;
  width: auto;
  margin-top: -1px;
}

.btn:hover {
  background-color: var(--green-700);
}

/* Utilities */
.pb-300 {
  padding-bottom: var(--space-300);
}

.text-green-500 {
  color: var(--green-500);
}